# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.log
*.pot
*.pyc
*.so
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env
*.env

# Django stuff
db.sqlite3
media/
staticfiles/
*.mo

# VS Code / IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
